.scrollToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #f59e0b; /* Custom color */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
  font-size: 1.5rem;
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scrollToTop:hover {
  background-color: #d97706; /* Darker on hover */
}
